svg{
  background-color: lightblue;
  border-radius: 8px;

}


.Brooklyn{
    fill: blue;
}

.Queens{
    fill: green;
}

.Manhattan{
    fill: red;
}

.Bronx{
    fill:yellow;
}

.FakeBorough{
    fill:purple;
}

table, th, td{
    border:1px solid black;
}

table {
    border-collapse:collapse;
    width:75%;
    height:20px;
    text-align:center;
    vertical-align:center;
}
